{% extends "layout.html" %}

{% block content %}

    <div class="content-section overflow-wrap">
<!--        <article  >-->
        <article class="content-section overflow-wrap" >
            <p >We are</p>
                  <p ></p>
                    <h2 >Under Construction!</h2>
          <img  src="{{ url_for('static', filename='/pics/Zoey_lap.jpg') }}">
          <div class="media-body overflow-wrap">
<!--            <div >-->
<!--            </div>-->
<!--              <div >-->
                    <p> </p>
              <p> </p>
              <p> </p>

<!--              </div>-->
          </div>
        </article>
    </div>

{% endblock content %}