{% extends "layout.html" %}

{% block content %}

    <div class="">
        <article class="content-section overflow-wrap" >
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='/pics/Zoey_in_grass.jpg') }}">
          <div class="media-body overflow-wrap">
                  <p >Hi!  My name is Zoey!&nbsp;  I'm a chihuahua!&nbsp;  Welcome to our site!&nbsp;  Pardon the mess, we're</p>
                  <p ></p>
                    <h2 >Under Construction!</h2>
          </div>
        </article>
    </div>

{% endblock content %}


