{% extends "layout.html" %}

{% block content %}

    <div >
        <article class="media content-section" >
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='/pics/Zoey_in_grass.jpg') }}">
          <div class="media-body">
            <div >
            </div>
              <div >
                  <h2 >Place Holder</h2>
                  <p >Holding this place</p>
              </div>
          </div>
        </article>
    </div>

{% endblock content %}


