{% extends "layout.html" %}

{% block content %}

    <div style="margin: 60px;">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='/pics/Pai_Mei.jpg') }}">
          <div class="media-body">
            <div class="article-metadata">


            </div>
            <h2>Place Holder</h2>
            <p class="article-content">Holding this place</p>
          </div>
        </article>
    </div>

{% endblock content %}


