{% extends "layout.html" %}

{% block content %}

        <div class="container perspective-parent" >
<!--        Controls -->

            <div class="row  d-flex flex-row-reverse ">
                <div class="col-sm-4 hud-overlay mx-auto" >
                    <div class="text-center">
                        <img class="playerR-bet" src="{{url_for('static', filename='/chips/fifty/fifty.png')}}">
                        <img class="playerR-bet" src="{{url_for('static', filename='/chips/fifty/fifty.png')}}">
                        <img class="playerR-bet" src="{{url_for('static', filename='/chips/fifty/fifty.png')}}">
                    </div>
                </div>
                <div class="col-sm-4 hud-overlay mx-auto">
                    <div class="text-center">
                        <img class="playerC-bet" src="{{url_for('static', filename='/chips/one-hundred/one-hundred.png')}}">
                        <img class="playerC-bet" src="{{url_for('static', filename='/chips/one-hundred/one-hundred.png')}}">
                        <img class="playerC-bet" src="{{url_for('static', filename='/chips/one-hundred/one-hundred.png')}}">
                    </div>
                </div>
                <div class="col-sm-4 hud-overlay mx-auto">
                    <div class="text-center">
                        <img class="playerL-bet" src="{{url_for('static', filename='/chips/five/3xfive.png')}}">
                        <img class="playerL-bet" src="{{url_for('static', filename='/chips/five/3xfive.png')}}">
                        <img class="playerL-bet" src="{{url_for('static', filename='/chips/five/3xfive.png')}}">
                    </div>
                </div>
            </div>

            <div class="row  d-flex flex-row-reverse no-gutter">
                <div class="col-sm-1 hud-overlay">
                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>
                </div>
                <div class="col-sm-1 hud-overlay">
                    <button   type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>
                </div>
                <div class="col-sm-1 hud-overlay">
                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-500" src="{{url_for('static', filename='/chips/five-hundred/five-hundred.png')}}">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-100" src="{{url_for('static', filename='/chips/one-hundred/one-hundred.png')}}">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-50" src="{{url_for('static', filename='/chips/fifty/fifty.png')}}">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-25"  src="{{url_for('static', filename='/chips/twenty-five/twenty-five.png')}}">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-10"  src="{{url_for('static', filename='/chips/ten/ten.png')}}">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-5a" src="{{url_for('static', filename='/chips/five/3xfive.png')}}">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-5b" src="{{url_for('static', filename='/chips/five/3xfive.png')}}">
                </div>

<!--                <div class="col-sm-1 test">-->
<!--                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Deal!</button>-->
<!--                </div>-->

<!--                <div class="col-sm-1 test">-->
<!--                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>-->
<!--                </div>-->

            </div>
<!--            End Controls-->

<!--        CHips   -->
                <section class="table perspective-transform">

                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <img class="chips" src="{{url_for('static', filename='/chips/chips_full2.png')}}">
                        </div>
                    </div>

        <!--            Dealer and Bet Placard (Bet Placard is offset to sit between Dealer and CHips)  -->
                    <div class="row d-flex flex-row justify-content-center">
                        <div class="col-sm-4 d-flex">
                            <img class="img-fluid" id="tray" src="{{url_for('static', filename='/table_objects/tray5.png')}}">
                            <img class="img-fluid" id="bet" src="{{url_for('static', filename='/table_objects/bet_placard.png')}}">
                        </div>
                        <div class="col-sm-4">
                        <div class="d-flex" >
                                <img id="d-tray-card" src="{{url_for('static', filename='/cards/zback.png')}}">
                                <img class="d1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}" >
                                <img class="d2" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="d3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="d4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="d5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="d6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="d7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="d8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                            </div>
                        </div>

                        <div class="col-sm-4">
                        <div class="d-flex" >
                            <img class="img-fluid" id="boot" src="{{url_for('static', filename='/table_objects/boot2.png')}}">
                        </div>
                        </div>
                    </div>

                    <div class="row d-flex flex-row justify-content-center">
                        <img class="img-fluid dealer-draws" src="{{url_for('static', filename='/table_objects/dealerDraw-2.png')}}">
                    </div>

        <!--            Player Row                              -->
        <!--                Player Left                         -->
                    <div class="row d-flex flex-row">
                        <div class="col-sm-4 d-flex">
                            <div class="bg-transparent text-center hand-top-bottom-margin">
                                <div class="d-flex flex-row">
                                    <img class="cL-outline d-flex " src="{{url_for('static', filename='/cards/outline.png')}}">
                                    <img class="c1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                    <img class="c1-split" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                    <img class="c2" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c2-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c3-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c4-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c5-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c6-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c7-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c8-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                </div>
                            </div>
                        </div>

        <!--            Player Center                   -->
                        <div class="col-sm-4">
                            <div class="bg-transparent text-center hand-top-bottom-margin">
                                <div class="d-flex flex-row">
                                    <br> <br>
                                </div>
                                <div class="d-flex flex-row" >
                                    <img class="cC-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                                    <img class="c1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                    <img class="c1-split" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                    <img class="c2" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c2-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c3-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c4-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c5-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c6-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c7-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c8-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                </div>
                            </div>
                        </div>

            <!--              Player Right                -->
                            <div class="col-sm-4">
                                <div class="bg-transparent text-center hand-top-bottom-margin">
                                    <div class="d-flex flex-row">
                                        <img class="cR-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                                        <img class="c1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                    <img class="c1-split" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                    <img class="c2" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c2-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c3-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c4-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c5-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c6-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c7-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    <img class="c8-split" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                </section>
            </div>

{% endblock content %}