{% extends "layout.html" %}

{% block content %}
        <script src="static/scripts/app.js" defer></script>
        <div class="container perspective-parent" >
<!--        Controls -->

            <div class="row  d-flex flex-row-reverse ">

                <div class="col-sm-4 hud-overlay mx-auto">
                    <div class="text-center">
                        <img id="playerR-bet1" src="static/chips/five/2xfive.png">
                        <img id="playerR-bet2" src="static/chips/five/five.png">
                        <img id="playerR-bet3" src="static/chips/five/five.png">
                    </div>
                </div>
                <div class="col-sm-4 hud-overlay mx-auto">
                    <div class="text-center">
                        <img id="playerC-bet1" src="static/chips/one-hundred/6xone-hundred.png">
                        <img id="playerC-bet2" src="static/chips/one-hundred/one-hundred.png">
                        <img id="playerC-bet3" src="static/chips/one-hundred/one-hundred.png">
                    </div>
                </div>
                <div class="col-sm-4 hud-overlay mx-auto" >
                    <div class="text-center">
                        <img id="playerL-bet1" src="static/chips/fifty/fifty.png">
                        <img id="playerL-bet2" src="static/chips/fifty/fifty.png">
                        <img id="playerL-bet3" src="static/chips/fifty/fifty.png">
                    </div>
                </div>

            </div>

            <div class="row  d-flex flex-row-reverse no-gutter">
                <div class="col-sm-1 hud-overlay">
                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>
                </div>
                <div class="col-sm-1 hud-overlay">
                    <button   type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>
                </div>
                <div class="col-sm-1 hud-overlay">
                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-500" src="static/chips/five-hundred/6xfive-hundred.png">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-100" src="static/chips/one-hundred/2xone-hundred.png">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-50" src="static/chips/fifty/4xfifty.png">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-25"  src="static/chips/twenty-five/3xtwenty-five.png">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-10"  src="static/chips/ten/2xten.png">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-5a" src="static/chips/five/4xfive.png">
                </div>
                <div class="col-sm-1 hud-overlay">
                    <img id="player-bank-5b" src="static/chips/five/6xfive.png">
                </div>

<!--                <div class="col-sm-1 test">-->
<!--                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Deal!</button>-->
<!--                </div>-->

<!--                <div class="col-sm-1 test">-->
<!--                    <button  type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Stand!</button>-->
<!--                </div>-->

            </div>
<!--            End Controls-->

<!--        CHips   -->
                <section class="table perspective-transform">

                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <img class="chips" src="static/chips/chips_full2.png">
                        </div>
                    </div>

        <!--            Dealer and Bet Placard (Bet Placard is offset to sit between Dealer and CHips)  -->
                    <div class="row d-flex flex-row justify-content-center">
                        <div class="col-sm-4 d-flex">
                            <img class="img-fluid" id="tray" src="static/table_objects/tray5.png">
                            <img class="img-fluid" id="bet" src="static/table_objects/bet_placard.png">
                        </div>
                        <div class="col-sm-4">
                        <div class="d-flex" >
                                <img id="d-tray-card" src="static/cards/zback.png">
                                <img id="d1" src="static/cards/Diamonds1.png" >
                                <img id="d2" src="static/cards/zback.png">
                                <img id="d3" src="static/cards/Clubs11.png">
                                <img id="d4" src="static/cards/Clubs11.png">
                                <img id="d5" src="static/cards/Clubs11.png">
                                <img id="d6" src="static/cards/Clubs11.png">
                                <img id="d7" src="static/cards/Clubs11.png">
                                <img id="d8" src="static/cards/Clubs11.png">
                            </div>
                        </div>

                        <div class="col-sm-4">
                        <div class="d-flex" >
                            <img class="img-fluid" id="boot" src="static/table_objects/boot2.png">
                        </div>
                        </div>
                    </div>

                    <div class="row d-flex flex-row justify-content-center">
                        <img class="img-fluid dealer-draws" src="static/table_objects/dealerDraw-2.png">
                    </div>

        <!--            Player Row                              -->
        <!--                Player Left                         -->
                    <div class="row d-flex flex-row">
                        <div class="col-sm-4 d-flex">
                            <div class="bg-transparent text-center hand-top-bottom-margin">
                                <div class="d-flex flex-row">
                                    <img id="cL-outline" src="static/cards/outline.png">
                                    <img id="c1L" src="static/cards/Diamonds1.png">
                                    <img id="c1L-split" src="static/cards/Diamonds1.png">
                                    <img id="c2L" src="static/cards/Clubs11.png">
                                    <img id="c2L-split" src="static/cards/Clubs11.png">
                                    <img id="c3L" src="static/cards/Clubs11.png">
                                    <img id="c3L-split" src="static/cards/Clubs11.png">
                                    <img id="c4L" src="static/cards/Clubs11.png">
                                    <img id="c4L-split" src="static/cards/Clubs11.png">
                                    <img id="c5L" src="static/cards/Clubs11.png">
                                    <img id="c5L-split" src="static/cards/Clubs11.png">
                                    <img id="c6L" src="static/cards/Clubs11.png">
                                    <img id="c6L-split" src="static/cards/Clubs11.png">
                                    <img id="c7L" src="static/cards/Clubs11.png">
                                    <img id="c7L-split" src="static/cards/Clubs11.png">
                                    <img id="c8L" src="static/cards/Clubs11.png">
                                    <img id="c8L-split" src="static/cards/Clubs11.png">
                                </div>
                            </div>
                        </div>

        <!--            Player Center                   -->
                        <div class="col-sm-4">
                            <div class="bg-transparent text-center hand-top-bottom-margin">
                                <div class="d-flex flex-row">
                                    <br> <br>
                                </div>
                                <div class="d-flex flex-row" >
                                    <img id="cC-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                                    <img id="c1C" src="static/cards/Diamonds1.png">
                                    <img id="c1C-split" src="static/cards/Diamonds1.png">
                                    <img id="c2C" src="static/cards/Clubs11.png">
                                    <img id="c2C-split" src="static/cards/Clubs11.png">
                                    <img id="c3C" src="static/cards/Clubs11.png">
                                    <img id="c3C-split" src="static/cards/Clubs11.png">
                                    <img id="c4C" src="static/cards/Clubs11.png">
                                    <img id="c4C-split" src="static/cards/Clubs11.png">
                                    <img id="c5C" src="static/cards/Clubs11.png">
                                    <img id="c5C-split" src="static/cards/Clubs11.png">
                                    <img id="c6C" src="static/cards/Clubs11.png">
                                    <img id="c6C-split" src="static/cards/Clubs11.png">
                                    <img id="c7C" src="static/cards/Clubs11.png">
                                    <img id="c7C-split" src="static/cards/Clubs11.png">
                                    <img id="c8C" src="static/cards/Clubs11.png">
                                    <img id="c8C-split" src="static/cards/Clubs11.png">
                                </div>
                            </div>
                        </div>

            <!--              Player Right                -->
                            <div class="col-sm-4">
                                <div class="bg-transparent text-center hand-top-bottom-margin">
                                    <div class="d-flex flex-row">
                                    <img id="cR-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                                    <img id="c1R" src="static/cards/Diamonds1.png">
                                    <img id="c1R-split" src="static/cards/Diamonds1.png">
                                    <img id="c2R" src="static/cards/Clubs11.png">
                                    <img id="c2R-split" src="static/cards/Clubs11.png">
                                    <img id="c3R" src="static/cards/Clubs11.png">
                                    <img id="c3R-split" src="static/cards/Clubs11.png">
                                    <img id="c4R" src="static/cards/Clubs11.png">
                                    <img id="c4R-split" src="static/cards/Clubs11.png">
                                    <img id="c5R" src="static/cards/Clubs11.png">
                                    <img id="c5R-split" src="static/cards/Clubs11.png">
                                    <img id="c6R" src="static/cards/Clubs11.png">
                                    <img id="c6R-split" src="static/cards/Clubs11.png">
                                    <img id="c7R" src="static/cards/Clubs11.png">
                                    <img id="c7R-split" src="static/cards/Clubs11.png">
                                    <img id="c8R" src="static/cards/Clubs11.png">
                                    <img id="c8R-split" src="static/cards/Clubs11.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                </section>
            </div>

{% endblock content %}