{% extends "layout.html" %}

{% block content %}

        <div class="container perspective-parent"  >
        <section class="table perspective-transform">

<!--            Dealer-->
            <div class="row d-flex flex-row justify-content-center">
                    <h4 class="text-white">Chips or some other graphics</h4>
            </div>


            <div class="row justify-content-center">

                <div class="col-sm-4" >
                    <div class="bg-transparent hand-top-bottom-margin">
                    <div class="d-flex flex-row">
                        <img class="d-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                        <img class="d1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                        <img class="d2" src="{{url_for('static', filename='/cards/zback.png')}}">
<!--                        <img class="d3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
<!--                        <img class="d4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
<!--                        <img class="d5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
<!--                        <img class="d6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
<!--                        <img class="d7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
<!--                        <img class="d8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                    </div>
                </div>
                </div>
<!--                <div class="row d-flex flex-row justify-content-center">-->
<!--                            <img class="img-fluid c-outline" src="{{url_for('static', filename='/BJpays2to1.png')}}">-->
<!--                </div>-->
                <div class="row d-flex flex-row justify-content-center d-flex flex-row">
                            <img class="img-fluid dealer-draws" src="{{url_for('static', filename='/dealerDraw.png')}}">
                </div>
            </div>

<!--            Player Row-->
            <div class="row d-flex flex-row">

                <div class="col-sm-4 d-flex">
                    <div class="bg-transparent text-center hand-top-bottom-margin">
    <!--                    <div class="d-flex flex-row">-->
    <!--                    <h4 class=" text-center text-white">Player 1</h4>-->
    <!--                    </div>-->
                        <div class="d-flex flex-row">
                            <img class="c-outline d-flex " src="{{url_for('static', filename='/cards/outline.png')}}">
                            <img class="c1 d-flex " src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                            <img class="c2 d-flex " src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                            <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
    <!--                        <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="bg-transparent text-center hand-top-bottom-margin">
                        <div class="d-flex flex-row">
    <!--                    <h2 class="text-center text-white"> | </h2>-->
                            <br> <br>
                        </div>
    <!--                    <div class="d-flex flex-row">-->
    <!--                    <h4 class=" text-center text-white">Player 2</h4>-->
    <!--                    </div>-->
                        <div class="d-flex flex-row" style="padding-bottom: 50px">
                            <img class="c-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                            <img class="c1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                            <img class="c2" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                            <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
    <!--                        <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                        </div>
                    </div>
                </div>

                    <div class="col-sm-4">
                        <div class="bg-transparent text-center hand-top-bottom-margin">
    <!--                    <div class="d-flex flex-row">-->
    <!--                        <h4 class=" text-center text-white">Player 3</h4>-->
    <!--                    </div>-->
                            <div class="d-flex flex-row">
                                <img class="c-outline" src="{{url_for('static', filename='/cards/outline.png')}}">
                                <img class="c1" src="{{url_for('static', filename='/cards/Diamonds1.png')}}">
                                <img class="c2" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
                                <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">
        <!--                        <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
        <!--                        <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
        <!--                        <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
        <!--                        <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
        <!--                        <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                            </div>
                        </div>
                    </div>
                </div>

<!--            Split Row-->
            <div class="row d-flex flex-row">
                <div class="col-sm-4 d-flex">
                    <div class="bg-transparent text-center">
    <!--                    <div class="d-flex flex-row">-->
    <!--                        <h4 class=" text-center text-white">Split Player 1</h4>-->
    <!--                    </div>-->
                        <div class="d-flex flex-row">
    <!--                        <img class="c-outline-split d-flex " src="{{url_for('static', filename='/cards/outline.png')}}">-->
    <!--                        <img class="c1-split d-flex " src="{{url_for('static', filename='/cards/Diamonds1.png')}}">-->
    <!--                        <img class="c2-split d-flex " src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 d-flex">
                    <div class="bg-transparent text-center">
                        <div class="d-flex flex-row">
    <!--                    <h2 class="text-center text-white"> | </h2>-->
                            <br> <br>
                        </div>
    <!--                    <div class="d-flex flex-row">-->
    <!--                        <h4 class=" text-center text-white">Split Player 2</h4>-->
    <!--                    </div>-->
                        <div class="d-flex flex-row">
<!--                            <img class="c-outline-split d-flex " src="{{url_for('static', filename='/cards/outline.png')}}">-->
    <!--                        <img class="c1-split d-flex " src="{{url_for('static', filename='/cards/Diamonds1.png')}}">-->
    <!--                        <img class="c2-split d-flex " src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 d-flex">
                    <div class="bg-transparent text-center">
    <!--                    <div class="d-flex flex-row">-->
    <!--                        <h4 class=" text-center text-white">Split Player 3</h4>-->
    <!--                    </div>-->
                        <div class="d-flex flex-row">
    <!--                        <img class="c-outline-split d-flex " src="{{url_for('static', filename='/cards/outline.png')}}">-->
    <!--                        <img class="c1-split d-flex " src="{{url_for('static', filename='/cards/Diamonds1.png')}}">-->
    <!--                        <img class="c2-split d-flex " src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c3" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c4" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c5" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c6" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c7" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
    <!--                        <img class="c8" src="{{url_for('static', filename='/cards/Clubs11.png')}}">-->
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="row d-flex flex-row-reverse">                   &lt;!&ndash; align controls right&ndash;&gt;-->
<!--                <div class="row d-flex flex-row justify-content-center">    &lt;!&ndash; center controls&ndash;&gt;-->
<!--                    <div class="col-sm-3 d-flex controls">-->
<!--                        <div><button type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Try Me!</button></div>-->
<!--                        <div><button type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Try Me!</button></div>-->
<!--                        <div><button type="button" class="btn btn-primary btn-sm" onclick=" alert('I work!')">Try Me!</button></div>-->
<!--                    </div>-->
<!--                </div>-->


        </section>
            </div>

{% endblock content %}