
.nav-fonts{
    font-family: "Georgia", serif;
}


#game-div{
    margin: auto auto auto auto;
}

.hud-overlay{
    position: relative;
    bottom: -810px;
    z-index: 10;
}

#bet{
    opacity: .75;
    position: relative;
    right: 280px;
    bottom: -7px;
    height: 60%;
    z-index: 10;
    transform: rotateZ(-5deg);
}

#tray{
    opacity: .75;
    position: relative;
    right: 110px;
    bottom: 185px;
    /*height: 80%;*/
    height: 80%;
    width: 80%;
}

#boot{
    opacity: .80;
    position: relative;
    width: 79%;
    height: 100%;
    right: -75px;
    bottom: 140px;
    transform: rotateZ(7deg);
    /*transform: rotate3d(.25, 1, 1, 5deg);*/
}

.chips{
    position: relative;
    right: 70px;
    height: 100%;
    width: 110%;
    bottom: -20px;
    transform: rotateZ(0deg);
}

.playerL-bet{
    position: relative;
    right: -10px;
    bottom: 75px;
    width: 21%;
}

.playerC-bet{
    position: relative;
    right: -25px;
    bottom: 30px;
    width: 21%;
}

.playerR-bet{
    position: relative;
    right: -25px;
    bottom: 75px;
    width: 21%;
}

.player-bank{
    position: relative;
    right: 0px;
    bottom: 18px;
    width: 100%;
}


#player-bank-5a{
    position: relative;
    right: -75px;
    bottom: 20px;
    width: 80%;
    z-index: 100;
}

#player-bank-5b{
    position: relative;
    right: -90px;
    bottom: 30px;
    width: 80%;
    z-index: 100;
}

#player-bank-10{
    position: relative;
    right: -60px;
    bottom: 20px;
    width: 80%;
    z-index: 100;

}

#player-bank-25{
    position: relative;
    right: -45px;
    bottom: 20px;
    width: 80%;
    z-index: 100;
}

#player-bank-50{
    position: relative;
    right: -30px;
    bottom: 20px;
    width: 80%;
    z-index: 100;
}

#player-bank-100{
    position: relative;
    right: -15px;
    bottom: 20px;
    width: 80%;
    z-index: 100;
}

#player-bank-500{
    position: relative;
    /*right: 37px;*/
    bottom: 25px;
    width: 80%;
    z-index: 100;
}

.dealer-draws{
    position: relative;
    bottom: 100px;
    right: 25px;
    opacity: 0.25;
    transform: rotate(0deg);
    width: 100%;
    z-index: -1;
}

#d-tray-card{
    position: relative;
    right: 327px;
    bottom: 115px;
    transform: rotate(5deg);
}

.d1 {
    position: relative;
    right: 88px;
    bottom: -85px;
    transform: scale(1.125);
}

.d2{
    position: relative;
    right: 158px;
    bottom: -85px;
    transform: scale(1.125);
}

.d3{
    position: relative;
    right: 228px;
    bottom: -85px;
    transform: scale(1.125);
    opacity: 0;
}

.d4{
    position: relative;
    right: 298px;
    bottom: -85px;
    transform: scale(1.125);
    opacity: 0;
}

.d5{
    position: relative;
    right: 368px;
    bottom: -85px;
    transform: scale(1.125);
    opacity: 0;
}

.d6{
    position: relative;
    right: 438px;
    bottom: -85px;
    transform: scale(1.125);
    opacity: 0;
}

.d7{
    position: relative;
    right: 508px;
    bottom: -85px;
    transform: scale(1.125);
    opacity: 0;
}

.d8{
    position: relative;
    right: 578px;
    bottom: -85px;
    transform: scale(1.125);
    opacity: 0;
}

.cL-outline{
    position: relative;
    right: 0px;
    opacity: 0.5;
    bottom: 70px;
    transform: rotate(45deg);
}

.cC-outline{
    position: relative;
    right: 0px;
    opacity: 0.5;
    bottom: 70px;
    transform: rotate(0deg);
}

.cR-outline{
    position: relative;
    right: 0px;
    opacity: 0.5;
    bottom: 70px;
    transform: rotate(-45deg);
}

.c1{
    position: relative;
    right: 98px;
    bottom: 120px;
    transform: rotate(0deg);
    opacity: 1;
}

.c1-split{
    position: relative;
    right: 186px;
    bottom: 250px;
    transform: rotate(0deg);
    opacity: 0;
}

.c2{
    position: relative;
    right: 261px;
    bottom: 120px;
    transform: rotate(2deg);
    opacity: 1;
}

.c2-split{
    position: relative;
    right: 349px;
    bottom: 250px;
    transform: rotate(2deg);
    opacity: 0;
}

.c3{
    position: relative;
    right: 424px;
    bottom: 120px;
    transform: rotate(2deg);
    opacity: 0;
}

.c3-split{
    position: relative;
    right: 512px;
    bottom: 250px;
    transform: rotate(2deg);
    opacity: 0;
}

.c4{
    position: relative;
    right: 587px;
    bottom: 120px;
    transform: rotate(2deg);
    opacity: 0;
}

.c4-split{
    position: relative;
    right: 675px;
    bottom: 250px;
    transform: rotate(2deg);
    opacity: 0;
}

.c5{
    position: relative;
    right: 750px;
    bottom: 120px;
    transform: rotate(2deg);
    opacity: 0;
}

.c5-split{
    position: relative;
    right: 838px;
    bottom: 250px;
    transform: rotate(2deg);
    opacity: 0;
}

.c6{
    position: relative;
    right: 913px;
    bottom: 120px;
    transform: rotate(2deg);
    opacity: 0;
}

.c6-split{
    position: relative;
    right: 1001px;
    bottom: 250px;
    transform: rotate(2deg);
    opacity: 0;
}

.c7{
    position: relative;
    right: 1076px;
    bottom: 145px;
    transform: rotate(2deg);
    opacity: 0;
}

.c7-split{
    position: relative;
    right: 1164px;
    bottom: 275px;
    transform: rotate(2deg);
    opacity: 0;
}

.c8{
    position: relative;
    right: 1239px;
    bottom: 170px;
    transform: rotate(2deg);
    opacity: 0;
}

.c8-split{
    position: relative;
    right: 1327px;
    bottom: 300px;
    transform: rotate(2deg);
    opacity: 0;
}

.hand-top-bottom-margin{
    margin: 0px 0px 0px 0px;


}

.controls{
    padding: 25px 25px 25px 50px;
    margin: 0px 85px 0px 0px;

}

.table {

    background: url(../../static/background/slot-bg.jpg);
    /*background-color: #071396;*/
    padding: 0px 20px 0px 120px;
    margin: 0px 0px 0px 0px;
    border: 27px solid #663300;
    border-radius: 50px 50px 370px 370px;
    z-index: -1;
    /*min-width: 680px;*/
    min-width: 900px;
    max-width: 900px;
    /*            X     Y   blur spread    */
    box-shadow: -10px 120px 110px 80px black
}

.perspective-transform{
    transform: rotateX(45deg);
    min-width: 900px;
    max-width: 900px;
    /*width: 900px;*/
    /*width: 120%;*/
    /*margin: 0 auto;*/
}

.perspective-parent{
    margin: 0px 0px 40px 200px;
    perspective: 1200px;
    /*min-width: 680px;*/
    min-width: 900px;
    max-width: 900px;
    /*width: 900px;*/
}

.break_word{
    word-wrap: break-word;
}

.word_wrap{
    word-break: break-all;
}
.media {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* __________ Backgrounds _______*/

/*urlEnd-background*/
#home-background {
    background-image: url(../../static/background/Vegas_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    /*color: #333333;*/
    /*margin-top: 5rem;*/
    /*max-width: 1000px;*/
}

/*urlEnd-background*/
#play-background{
    background-image: url(../../static/background/Hollywood-Casino-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    /*color: #333333;*/
    /*margin-top: 5rem;*/
    /*max-width: 1000px;*/
}



h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  /*background-color: #5f788a;*/
  background-color: #cc0000
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 4px 4px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.main-container{
    padding-bottom: 0px;
    /*min-width: 900px;*/
    /*max-height: 700px;*/
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}