.movable {
    cursor: pointer;
}

.droppable {
    background: #ffe0ec;
}

.disableselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}


html {
  /*scroll-behavior: smooth;*/
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

.nav-fonts{
    font-family: "Georgia", serif;
}


#game-div{
    margin: auto auto auto auto;
}

.hud-overlay{
    position: relative;
    bottom: -810px;
    z-index: 10;
}

#bet{
    opacity: .75;
    position: relative;
    right: 280px;
    bottom: -7px;
    height: 60%;
    z-index: 10;
    transform: rotateZ(-5deg);
}

#tray{
    opacity: .62;
    position: relative;
    right: 110px;
    bottom: 185px;
    /*height: 80%;*/
    height: 80%;
    width: 80%;
}

#boot{
    opacity: .99;
    position: relative;
    width: 73%;
    height: 100%;
    right: -82px;
    bottom: 160px;
    transform: rotateZ(7deg);


}

.chips{
    position: relative;
    right: 75px;
    height: 100%;
    width: 110%;
    bottom: -20px;
    transform: rotateZ(0deg);
}

#playerR-bet1{
    position: relative;
    right: -10px;
    bottom: 75px;
    width: 21%;

}
#playerR-bet2{
    position: relative;
    margin: -7px;
    right: -10px;
    bottom: 75px;
    width: 21%;

}
#playerR-bet3{
    position: relative;
    right: -10px;
    bottom: 75px;
    width: 21%;

}


#playerC-bet1{
    position: relative;
    right: -5px;
    bottom: 30px;
    width: 21%;

}
#playerC-bet2{
    position: relative;
    margin: -7px;
    right: -5px;
    bottom: 30px;
    width: 21%;
}

#playerC-bet3{
    position: relative;
    right: -5px;
    bottom: 30px;
    width: 21%;
}

#playerL-bet1{
    position: relative;
    right: -5px;
    bottom: 77px;
    width: 21%;
}

#playerL-bet2{
    position: relative;
    margin: -7px;
    right: -5px;
    bottom: 77px;
    width: 21%;

}
#playerL-bet3{
    position: relative;
    right: -5px;
    bottom: 77px;
    width: 21%;

}

#balance{
    position: relative;
    /*font-family: 'Orbitron', sans-serif;*/
    /*font-family: 'LED Digital 7', sans-serif;*/
    border: 2px;
    border-radius: 5px;
    background: black;
    z-index: 10;
    color: white;
    right: -400px;
    height: 25px;
    bottom: -870px
}

.player-bank{
    position: relative;
    right: 0px;
    bottom: 18px;
    width: 100%;

}

#collect-next{
    position: relative;
    opacity: .8;
    left: -62px;
    bottom: 58px;
    margin: 0 -20px 0 0;

}

#rebet{
    position: relative;
    opacity: .8;
    left: -62px;
    bottom: 58px;
    margin: 0 -20px 0 0;

}

#cbControl{
    position: relative;
    opacity: .8;
    right: 105px;
    bottom: 58px;
    margin: 0 -25px 0 0 ;

}

#ddControl{
    position: relative;
    opacity: .8;
    right: 105px;
    bottom: 58px;
    margin: 0 -25px 0 0 ;

}
#spControl{
    position: relative;
    opacity: .8;
    right: 105px;
    bottom: 58px;
    margin: 0 0 0 -25px;

}
#hControl{
    position: relative;
    opacity: .8;
    left: -62px;
    bottom: 58px;
    margin: 0 -20px 0 0;

}
#dControl{
    position: relative;
    opacity: .8;
    left: -62px;
    bottom: 58px;
    margin: 0 -20px 0 0;

}
#stControl{
    position: relative;
    opacity: .8;
    left: -62px;
    bottom: 58px;
    margin: 0 0 0 -20px;

}

#player-bank-0{

    position: relative;
    right: -155px;
    bottom: 30px;
    width: 80%;
    z-index: 100;
}

#player-bank-1{

    position: relative;
    right: -140px;
    bottom: 22px;
    width: 80%;
    z-index: 100;
}

#player-bank-2{

    position: relative;
    right: -125px;
    bottom: 22px;
    width: 80%;
    z-index: 100;
}

#player-bank-3{

    position: relative;
    right: -110px;
    bottom: 22px;
    width: 80%;
    z-index: 100;

}

#player-bank-4{

    position: relative;
    right: -95px;
    bottom: 22px;
    width: 80%;
    z-index: 100;
}

#player-bank-5{

    position: relative;
    right: -80px;
    bottom: 22px;
    width: 80%;
    z-index: 100;
}

#player-bank-6{

    position: relative;
    right: -65px;
    bottom: 26px;
    width: 80%;
    z-index: 100;
}

.dealer-draws{
    position: relative;
    bottom: 100px;
    right: 25px;
    opacity: 0.25;
    transform: rotate(0deg);
    width: 100%;
    z-index: -1;
}

#d-tray-card{
    position: relative;
    right: 325px;
    bottom: 137px;
    transform: rotate(3.5deg) scale(1.15);


}

#d1 {
    position: relative;
    right: 88px;
    bottom: -85px;
    transform: scale(1.125);

}

#d2{
    position: relative;
    right: 158px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}

#d3{
    position: relative;
    right: 228px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}

#d4{
    position: relative;
    right: 298px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}

#d5{
    position: relative;
    right: 368px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}

#d6{
    position: relative;
    right: 438px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}

#d7{
    position: relative;
    right: 508px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}

#d8{
    position: relative;
    right: 578px;
    bottom: -85px;
    transform: rotate(2deg) scale(1.125);
}


#cL-outline{
    position: relative;
    right: 0px;
    opacity: 0.5;
    bottom: 70px;
    transform: rotate(45deg) scale(1.1);
}

#cL-split-outline{

    position: relative;
    right: 1455px;
    bottom: 250px;
    z-index: -1;
    transform: scale(1.1);

}

#cC-split-outline{

    position: relative;
    right: 1455px;
    bottom: 250px;
    z-index: -1;
    transform: scale(1.1);

}
#cR-split-outline{

    position: relative;
    right: 1455px;
    bottom: 250px;
    z-index: -1;
    transform: scale(1.1);

}

#c1L{
    position: relative;
    right: 98px;
    bottom: 120px;
    transform: rotate(0deg);
}

#c1L-split{
    position: relative;
    right: 186px;
    bottom: 250px;
    transform: rotate(0deg);
}

#c2L{
    position: relative;
    right: 261px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c2L-split{
    position: relative;
    right: 349px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c3L{
    position: relative;
    right: 424px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c3L-split{
    position: relative;
    right: 512px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c4L{
    position: relative;
    right: 587px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c4L-split{
    position: relative;
    right: 675px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c5L{
    position: relative;
    right: 750px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c5L-split{
    position: relative;
    right: 838px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c6L{
    position: relative;
    right: 913px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c6L-split{
    position: relative;
    right: 1001px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c7L{
    position: relative;
    right: 1076px;
    bottom: 145px;
    transform: rotate(2deg);
}

#c7L-split{
    position: relative;
    right: 1164px;
    bottom: 275px;
    transform: rotate(2deg);
}

#c8L{
    position: relative;
    right: 1239px;
    bottom: 170px;
    transform: rotate(2deg);
}

#c8L-split{
    position: relative;
    right: 1465px;
    bottom: 250px;
    z-index: -1;
    transform: rotate(2deg);
}


#cC-outline{
    position: relative;
    right: 0px;
    opacity: 0.5;
    bottom: 70px;
    transform: rotate(0deg) scale(1.1);
}

#c1C{
    position: relative;
    right: 98px;
    bottom: 120px;
    transform: rotate(0deg);
}

#c1C-split{
    position: relative;
    right: 186px;
    bottom: 250px;
    transform: rotate(0deg);
}

#c2C{
    position: relative;
    right: 261px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c2C-split{
    position: relative;
    right: 349px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c3C{
    position: relative;
    right: 424px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c3C-split{
    position: relative;
    right: 512px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c4C{
    position: relative;
    right: 587px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c4C-split{
    position: relative;
    right: 675px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c5C{
    position: relative;
    right: 750px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c5C-split{
    position: relative;
    right: 838px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c6C{
    position: relative;
    right: 913px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c6C-split{
    position: relative;
    right: 1001px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c7C{
    position: relative;
    right: 1076px;
    bottom: 145px;
    transform: rotate(2deg);
}

#c7C-split{
    position: relative;
    right: 1164px;
    bottom: 275px;
    transform: rotate(2deg);
}

#c8C{
    position: relative;
    right: 1239px;
    bottom: 170px;
    transform: rotate(2deg);
}

#c8C-split{
    position: relative;
    right: 1327px;
    bottom: 300px;
    transform: rotate(2deg);
}


#cR-outline{
    position: relative;
    right: 0px;
    opacity: 0.5;
    bottom: 70px;
    transform: rotate(-45deg) scale(1.1);
}

#c1R{
    position: relative;
    right: 98px;
    bottom: 120px;
    transform: rotate(0deg);
}

#c1R-split{
    position: relative;
    right: 186px;
    bottom: 250px;
    transform: rotate(0deg);
}

#c2R{
    position: relative;
    right: 261px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c2R-split{
    position: relative;
    right: 349px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c3R{
    position: relative;
    right: 424px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c3R-split{
    position: relative;
    right: 512px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c4R{
    position: relative;
    right: 587px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c4R-split{
    position: relative;
    right: 675px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c5R{
    position: relative;
    right: 750px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c5R-split{
    position: relative;
    right: 838px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c6R{
    position: relative;
    right: 913px;
    bottom: 120px;
    transform: rotate(2deg);
}

#c6R-split{
    position: relative;
    right: 1001px;
    bottom: 250px;
    transform: rotate(2deg);
}

#c7R{
    position: relative;
    right: 1076px;
    bottom: 145px;
    transform: rotate(2deg);
}

#c7R-split{
    position: relative;
    right: 1164px;
    bottom: 275px;
    transform: rotate(2deg);
}

#c8R{
    position: relative;
    right: 1239px;
    bottom: 170px;
    transform: rotate(2deg);
}

#c8R-split{
    position: relative;
    right: 1327px;
    bottom: 300px;
    transform: rotate(2deg);
}


.hand-top-bottom-margin{
    margin: 0px 0px 0px 0px;

}

.controls{
    padding: 25px 25px 25px 50px;
    margin: 0px 85px 0px 0px;

}

.table {
    background: url(../../static/background/slot-bg.jpg);
    /*background-color: #071396;*/
    padding: 0px 20px 0px 120px;
    margin: 0px 0px 0px 0px;
    border: 27px solid #663300;
    border-radius: 50px 50px 370px 370px;
    z-index: -1;
    /*min-width: 680px;*/
    min-width: 900px;
    max-width: 900px;
    /*            X     Y   blur spread    */
    box-shadow: -10px 120px 110px 80px black
}

.perspective-transform{
    transform: rotateX(45deg);
    min-width: 900px;
    max-width: 900px;
    /*width: 900px;*/
    /*width: 120%;*/
    /*margin: 0 auto;*/
}

.perspective-parent{
    margin: 0px 0px 15px 0px;
    perspective: 1200px;
    /*min-width: 680px;*/
    min-width: 900px;
    max-width: 900px;
    /*width: 900px;*/
}

.break_word{
    word-wrap: break-word;
}

.word_wrap{
    word-break: break-all;
}
.media {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* __________ Backgrounds _______*/

/*urlEnd-background*/
#home-background {
    background-image: url(../../static/background/Vegas_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    /*color: #333333;*/
    margin-top: 5rem;   /*Keeps content below the nav bar*/
    /*max-width: 1000px;*/
}

/*urlEnd-background*/
#play-background{
    background-image: url(../../static/background/Hollywood-Casino-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 900px;*/
    /*color: #333333;*/
    /*margin-top: 5rem;*/
    /*max-width: 1000px;*/
}



h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  /*background-color: #5f788a;*/
  background-color: #cc0000
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 4px 4px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.main-container{
    padding-bottom: 0px;
    /*min-width: 900px;*/
    /*max-height: 700px;*/
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}